<template>
  <commonLineEcharts
    :legend_data="datas.legend_data"
    :series_data="datas.series_data.list"
    :y_axis_name="datas.y_axis_name"
    :x_axis_data="datas.x_axis_data"
    :x_axis_label_interval="0"
    :y_name_padding="[1, 1, 1, 15]"
  ></commonLineEcharts>
</template>

<script setup>
import { reactive } from "vue";
import commonLineEcharts from "../../components/common-line-echarts.vue";
import { randomInt } from "../../utils/utils";

const datas = reactive({
  legend_data: [],
  x_axis_data: [],
  series_data: [],
  y_axis_name: [" "],
});

setTimeout(() => {
  setupData();
}, 1000);

const setupData = () => {
  const data1 = [0];
  const data2 = [0];
  const data3 = [0];
  const data4 = [0];
  datas.y_axis_name = ["单位：个"];
  datas.x_axis_data = ["0时", "4时", "8时", "12时", "16时", "20时", "24时"];
  datas.legend_data = ["A级告警", "B级告警", "C级告警", "D级告警"];
  for (let i = 1; i < 7; i++) {
    data1.push(randomInt(0, 10) + data1[i - 1]);
    data2.push(randomInt(0, 10) + data2[i - 1]);
    data3.push(randomInt(0, 10) + data3[i - 1]);
    data4.push(randomInt(0, 10) + data4[i - 1]);
  }
  datas.series_data.list = [
    {
      name: "A级告警",
      //转折点样式
      itemStyle: {
        color: "rgb(28,78,191)",
      },
      data: data1,
    },
    {
      name: "B级告警",
      //转折点样式
      itemStyle: {
        color: "rgb(228,155,55)",
      },
      data: data2,
    },
    {
      name: "C级告警",
      //转折点样式
      itemStyle: {
        color: "rgb(245,235,97)",
      },
      data: data3,
    },
    {
      name: "D级告警",
      //转折点样式
      itemStyle: {
        color: "rgb(151,239,248)",
      },
      data: data4,
    },
  ];
};

// setInterval(() => {
//   for (let i = 0; i < series_data.length; i++) {
//     let data = series_data[i].data;
//     data.push(data[0]);
//     data.shift();
//     series_data[i].data = data;
//   }
// }, 3000);
</script>
<style lang="less" scoped></style>
