<template>
  <commonLineEcharts
    :legend_data="datas.legend_data"
    :series_data="datas.series_data"
    :y_axis_name="datas.y_axis_name"
    :x_axis_data="datas.x_data"
  ></commonLineEcharts>
</template>

<script setup>
import { onMounted, onUnmounted, reactive } from "vue";
import commonLineEcharts from "../../components/common-line-echarts.vue";
import { getJournal } from "../../http/request";
import { randomInt } from "../../utils/utils";
const datas = reactive({
  series_data: [],
  legend_data: [],
  y_axis_name: [" "],
  x_data: [],
});

const x_data = [];
for (var i = 1; i <= 50; i++) {
  x_data.push(i);
}
let timer;
onMounted(() => {
  timer = setInterval(() => {
    for (let i = 0; i < datas.series_data.length; i++) {
      let data = datas.series_data[i].data;
      const num = randomInt(5, 300);
      data.push(num);

      if (data.length >= 60) {
        data.shift();
      }
      datas.series_data[i].data = data;
    }
  }, 1000);
});

onUnmounted(() => {
  clearInterval(timer);
  timer = null;
});

const getData = async () => {
  try {
    //获取数据
    const net_data = await getJournal();

    const series = [];
    const legend = [];
    if (net_data.data.total_list) {
      series.push({
        name: "网络日志数量",
        //转折点样式
        itemStyle: {
          color: "#6EADED",
        },
        data: net_data.data.total_list,
      });
      legend.push("网络日志数量");
    }
    if (net_data.data.error_list) {
      series.push({
        name: "错误日志数量",
        //转折点样式
        itemStyle: {
          color: "#F9DC67",
        },
        data: net_data.data.error_list,
      });
      legend.push("错误日志数量");
    }
    datas.series_data = series;
      datas.legend_data = legend;
      datas.y_axis_name = ["单位：个"];
      datas.x_data = x_data;
  } catch (error) {
    const serie1 = [];
    const serie2 = [];
    for (let i = 0; i < 60; i++) {
      const num = randomInt(5, 300);
      serie1.push(num);
      serie2.push(num + randomInt(0, 200));
    }
    setTimeout(() => {
      datas.series_data = [
        {
          name: "本地日志数量",
          //转折点样式
          itemStyle: {
            color: "#6EADED",
          },
          data: serie1,
        },
        {
          name: "错误日志数量",
          itemStyle: {
            color: "#F9DC67",
          },
          data: serie2,
        },
      ];
      datas.legend_data = ["本地日志数量", "错误日志数量"];
      datas.y_axis_name = ["单位：个"];
      datas.x_data = x_data;
    }, 1000);
  }
};
getData();
</script>
<style lang="less" scoped></style>
