<template>
  <div class="home">
    <header>
      <MyHeader @index_change="header_change"></MyHeader>
    </header>
    <div class="body">
      <div class="left">
        <CommonTitle :title="'大数据集群资源使用信息'"></CommonTitle>
        <SourceUse class="source-use"></SourceUse>
        <CommonTitle>
          <div class="sub-title">
            应用访问信息
            <MySlide @select-changed="select_changed"></MySlide>
          </div>
        </CommonTitle>
        <ScatterEcharts
          class="scatter"
          :data1="scatterData.success"
          :data2="scatterData.fail"
        ></ScatterEcharts>
      </div>
      <div class="center">
        <CommonTitle :title="'ELK应用日志统计信息'"></CommonTitle>
        <JournalInfo class="journal-info"></JournalInfo>
        <CommonTitle :title="'批量耗时信息'"></CommonTitle>
        <TimeConsumingInfo class="time-consuming"></TimeConsumingInfo>
      </div>
      <div class="right">
        <CommonTitle :title="'应用系统相关告警数'"></CommonTitle>
        <!-- <PieEcharts></PieEcharts> -->
        <ApplicationWarn class="application-warn"></ApplicationWarn>
        <CommonTitle
          >未处理警告信息共<span :style="{ color: 'red', fontWeight: '700' }"
            >10</span
          >个</CommonTitle
        >
        <WarnTable
          :style="{ height: 'calc(100% - 40% - 52px - 52px)' }"
        ></WarnTable>
      </div>
    </div>
  </div>
</template>

<script setup>
import { reactive } from "vue";
import CommonTitle from "../../components/common-title.vue";
import MyHeader from "../../components/my-header.vue";
import MySlide from "../../components/my-slide.vue";
import ScatterEcharts from "../../components/scatter-echarts.vue";

import { randomInt } from "../../utils/utils";
import ApplicationWarn from "./application-warn.vue";
import JournalInfo from "./journal-info.vue";
import SourceUse from "./source-use.vue";
import TimeConsumingInfo from "./time-consuming-info.vue";
import WarnTable from "./warn-table.vue";
// const data1 = [220, 182, 191, 234, 290, 330, 310];
// const data2 = [338, 2, 1, 4, 290, 2, 113];
const emits = defineEmits(["header_change"]);

const header_change = (value) => {
  emits("header_change", value);
};

const data1 = [0, 0];
const data2 = [0, 0];
setTimeout(() => {
  setupData();
}, 1000);

const setupData = () => {
  for (let i = 1; i < 22; i++) {
    data1.push([randomInt(0, 10), randomInt(0, 10)]);
    data2.push([randomInt(0, 10), randomInt(0, 10)]);
  }
  // scatterData.success = data1;
  // scatterData.fail = data2;
};
const scatterData = reactive({
  success: data1,
  fail: data2,
});

const select_changed = (value) => {
  if (value == 0) {
    scatterData.success = data1;
    scatterData.fail = data2;
  } else {
    scatterData.success = data2;
    scatterData.fail = data1;
  }
};
</script>
<style lang="less" scoped>
.home {
  font-size: 0.4rem;
  height: 100%;

  header {
    height: 130px;
  }

  .body {
    display: flex;
    height: calc(100% - 130px);
    .left {
      width: 20%;
      height: 100%;
      padding-left: 20px;
      .source-use {
        width: 100%;
        height: 40%;
      }

      .scatter {
        width: 100%;
        height: 40%;
      }
      .sub-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
      }
    }

    .center {
      flex: 1;
      height: 100%;
      padding: 0 50px;
      .journal-info {
        width: 100%;
        height: 40%;
      }
      .time-consuming {
        width: 100%;
        height: 40%;
      }
    }

    .right {
      width: 20%;
      height: 100%;

      .application-warn {
        width: 100%;
        height: 40%;
      }
    }
  }
}
</style>
