<template>
  <CommonLineEcharts
    :legend_data="datas.legend_data"
    :series_data="datas.series_data"
    :y_axis_name="datas.y_axis_name"
    :y_name_padding="[
      [0, 0, 0, 0],
      [0, 0, 0, 0],
    ]"
    :x_axis_data="datas.x_axis_data"
    :x_axis_label_interval="0"
    :y_split_config="datas.y_split_config"
  ></CommonLineEcharts>
</template>

<script setup>
import { reactive } from "vue";
import CommonLineEcharts from "../../components/common-line-echarts.vue";
import { randomInt } from "../../utils/utils";

const datas = reactive({
  legend_data: [],
  x_axis_data: [],
  series_data: [],
  y_axis_name: ["", ""],
  y_split_config: [],
});

const data1 = [];
const data2 = [];
const y_split_config = [];
setTimeout(() => {
  setupData();
}, 1000);

const setupData = () => {
  datas.x_axis_data = ["0时", "4时", "8时", "12时", "16时", "20时", "24时"];
  datas.legend_data = ["使用量", "百分百"];
  datas.y_axis_name = ["使用量", ""];
  for (let i = 0; i < 7; i++) {
    data1.push(randomInt(10, 400));
    data2.push(randomInt(0, 100));
  }
  //配置坐标间隔
  let ymax1 = getSplitInterval(data1);
  let ymax2 = getSplitInterval(data2);
  y_split_config.push({
    min: 0,
    max: ymax1,
    splitNumber: 5,
    minInterval: 1,
    interval: ymax1 / 5,
  });
  y_split_config.push({
    min: 0,
    max: ymax2,
    splitNumber: 5,
    minInterval: 1,
    interval: ymax2 / 5,
  });
  datas.y_split_config = y_split_config;

  datas.series_data = [
    {
      name: "使用量",
      //转折点样式
      itemStyle: {
        color: "#6EADED",
      },
      data: data1,
    },
    {
      data: data2,
      yAxisIndex: 1,
      name: "百分百",
      //转折点样式
      itemStyle: {
        color: "blue",
      },
    },
  ];
};
setInterval(() => {
  for (let i = 0; i < datas.series_data.length; i++) {
    let data = datas.series_data[i].data;
    data.push(data[0]);
    data.shift();
    datas.series_data[i].data = data;
  }
}, 3000);

function getSplitInterval(data) {
  let max = Math.ceil(Math.max(...data) / 100) * 100;
  if (max === 0) {
    max = 100;
  }
  return max;
}
</script>
<style lang="less" scoped></style>
