<template>
  <commonLineEcharts
    :legend_data="datas.legend_data"
    :series_data="datas.series_data"
    :y_axis_name="datas.y_axis_name"
    :x_axis_data="datas.x_axis_data"
    :x_axis_label_interval="0"
    :y_name_padding="[1, 1, 1, 15]"
  ></commonLineEcharts>
</template>

<script setup>
import { reactive } from "vue";
import commonLineEcharts from "../../components/common-line-echarts.vue";
import { randomInt } from "../../utils/utils";
const datas = reactive({
  legend_data: [],
  x_axis_data: [],
  series_data: [],
  y_axis_name: [" "],
});

setTimeout(() => {
  setupData();
}, 1000);

// setInterval(() => {
//   for (let i = 0; i < series_data.length; i++) {
//     let data = series_data[i].data;
//     data.push(data[0]);
//     data.shift();
//     series_data[i].data = data;
//   }
// }, 3000);
const setupData = () => {
  datas.x_axis_data = [
    "02-01",
    "02-02",
    "02-03",
    "02-04",
    "02-05",
    "02-06",
    "02-07",
    "02-08",
    "02-09",
    "02-10",
    "02-11",
    "02-12",
    "02-13",
  ];
  datas.y_axis_name = ["单位：个"];

  datas.legend_data = [
    "账务核心批量执行耗时",
    "大数据抽取账务核心数据及转换耗时",
    "账务批量执行耗时",
    "账务核心批量运行耗时",
    "核心批量整体耗时",
  ];

  const data1 = [];
  const data2 = [];
  const data3 = [];
  const data4 = [];
  for (let i = 0; i < 13; i++) {
    data1.push(randomInt(10, 400));
    data2.push(randomInt(0, 100));
    data3.push(randomInt(0, 100));
    data4.push(randomInt(0, 100));
  }
  datas.series_data = [
    {
      name: "账务核心批量执行耗时",
      //转折点样式
      itemStyle: {
        color: "rgb(28,78,191)",
      },
      data: data1,
    },
    {
      name: "大数据抽取账务核心数据及转换耗时",
      //转折点样式
      itemStyle: {
        color: "rgb(228,155,55)",
      },
      data: data2,
    },
    {
      name: "账务批量执行耗时",
      //转折点样式
      itemStyle: {
        color: "rgb(245,235,97)",
      },
      data: data3,
    },
    {
      name: "账务核心批量运行耗时",
      //转折点样式
      itemStyle: {
        color: "rgb(151,239,248)",
      },
      data: data4,
    },
    {
      name: "核心批量整体耗时",
      //转折点样式
      itemStyle: {
        color: "rgb(151,239,248)",
      },
      data: data4,
    },
  ];
};
</script>
<style lang="less" scoped></style>
