<template>
  <div class="my-table">
    <table>
      <tr>
        <th v-for="item in datas.head" :key="item">{{ item }}</th>
      </tr>
    </table>
    <Vue3SeamlessScroll
      :list="datas.content"
      :step="1"
      :hover="true"
      :singleHeight="40"
      :is-watch="true"
      :limitScrollNum="10"
      class="seamless-warp"
    >
      <table>
        <tr v-for="(item, index) in datas.content" :key="index">
          <td
            v-for="(value, key) in item"
            :class="[
              'statu-' + item.status,
              key === 'level' ? 'level' + value : '',
            ]"
            :key="key"
          >
            <span>{{ formatter(key, value) }}</span>
          </td>
        </tr>
      </table>
    </Vue3SeamlessScroll>
    <!-- <table>
      <tr>
        <th v-for="item in datas.head" :key="item">{{ item }}</th>
      </tr>
      <tr v-for="(item, index) in datas.content" :key="index">
        <td
          v-for="(value, key) in item"
          :class="[
            'statu-' + item.status,
            key === 'level' ? 'level' + value : '',
          ]"
          :key="key"
        >
          <span>{{ formatter(key, value) }}</span>
        </td>
      </tr>
    </table> -->
    <!-- </vue-seamless-scroll> -->
  </div>
</template>

<script setup>
import { reactive } from "vue";
import { Vue3SeamlessScroll } from "vue3-seamless-scroll";
defineProps({
  data: Array,
});
const datas = reactive({
  head: [],
  content: [],
});

setTimeout(() => {
  setupData();
}, 1000);

const setupData = () => {
  datas.head = ["时间", "类型", "内容", "级别", "状态"];
  datas.content = [
    {
      time: "10.49",
      cate: "超时",
      conten: "查询超时",
      level: 2,
      status: 2,
    },
    {
      time: "10.57",
      cate: "超时",
      conten: "查询超时",
      level: 1,
      status: 1,
    },
    {
      time: "10.49",
      cate: "超时",
      conten: "查询超时",
      level: 2,
      status: 2,
    },
    {
      time: "10.57",
      cate: "超时",
      conten: "查询超时",
      level: 1,
      status: 1,
    },
    {
      time: "10.49",
      cate: "超时",
      conten: "查询超时",
      level: 2,
      status: 2,
    },
    {
      time: "10.57",
      cate: "超时",
      conten: "查询超时",
      level: 1,
      status: 1,
    },
    {
      time: "10.49",
      cate: "超时",
      conten: "查询超时",
      level: 2,
      status: 2,
    },
    {
      time: "10.57",
      cate: "超时",
      conten: "查询超时",
      level: 1,
      status: 1,
    },
    {
      time: "10.49",
      cate: "超时",
      conten: "查询超时",
      level: 2,
      status: 2,
    },
    {
      time: "10.57",
      cate: "超时",
      conten: "查询超时",
      level: 1,
      status: 1,
    },
    {
      time: "10.49",
      cate: "超时",
      conten: "查询超时",
      level: 2,
      status: 2,
    },
    {
      time: "10.57",
      cate: "超时",
      conten: "查询超时",
      level: 1,
      status: 1,
    },
    {
      time: "10.49",
      cate: "超时",
      conten: "查询超时",
      level: 2,
      status: 2,
    },
    {
      time: "10.57",
      cate: "超时",
      conten: "查询超时",
      level: 1,
      status: 1,
    },
    {
      time: "10.49",
      cate: "超时",
      conten: "查询超时",
      level: 2,
      status: 2,
    },
    {
      time: "10.57",
      cate: "超时",
      conten: "查询超时",
      level: 1,
      status: 1,
    },
    {
      time: "10.49",
      cate: "超时",
      conten: "查询超时",
      level: 2,
      status: 2,
    },
    {
      time: "10.57",
      cate: "超时",
      conten: "查询超时",
      level: 1,
      status: 1,
    },
    {
      time: "10.49",
      cate: "超时",
      conten: "查询超时",
      level: 2,
      status: 2,
    },
    {
      time: "10.57",
      cate: "超时",
      conten: "查询超时",
      level: 1,
      status: 1,
    },
  ];
};
const formatter = (key, value) => {
  if (key === "level") {
    if (value === 1) {
      return "A级";
    } else if (value === 2) {
      return "B级";
    }
  } else if (key === "status") {
    if (value === 1) {
      return "处理中";
    } else if (value === 2) {
      return "未处理";
    }
  }
  return value;
};
</script>
<style lang="less" scoped>
/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
// ::-webkit-scrollbar {
//   // width: 16px;
//   // height: 16px;
//   background-color: transparent;
// }
/*定义滚动条轨道
 内阴影+圆角*/
// ::-webkit-scrollbar-track {
// -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
// border-radius: 10px;
// background-color: #f5f5f5;
// }
/*定义滑块
 内阴影+圆角*/
// ::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   background-color: #555;
// }
.my-table {
  // height: calc(100% - 40% - 52px - 52px);
  overflow-y: auto;
}

.seamless-warp {
  height: calc(100% - 40px);
  overflow: hidden;
}
table {
  width: 100%;
  height: 40px;
  border-spacing: 0;
  tr {
    display: flex;
    width: 100%;
    height: 40px;
    th {
      flex: 1;
      color: white;
    }

    td {
      flex: 1;
      padding: 5px 0;
      text-align: center;
      font-size: 16px;
      &.statu-1 {
        color: blue;
      }

      &.statu-2 {
        color: orange;
      }

      &.level1 {
        span {
          display: inline-block;
          width: 60px;
          height: 30px;
          color: white;
          background-color: rgb(234, 52, 102);
          border-radius: 15px;
          /* 文本阴影 */
          box-shadow: 2px 2px 3px rgb(234, 52, 102);
          animation: flash 0.5s infinite alternate;

          @keyframes flash {
            0% {
              opacity: 1;
              scale: 1;
            }
            100% {
              opacity: 0.3;
              scale: 0.9;
            }
          }
        }
      }

      &.level2 {
        span {
          display: inline-block;
          width: 60px;
          height: 30px;
          color: white;
          border: 1px solid aqua;
          border-radius: 15px;
        }
      }
    }
  }
}
</style>
