<template>
  <MyEcharts class="echarts" :options="options"></MyEcharts>
</template>

<script setup>
import MyEcharts from "./my-echarts.vue";
const options = {
  xAxis: {
    data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
  },
  yAxis: {},
  series: [
    {
      type: "bar",
      data: [23, 24, 18, 25, 27, 28, 25],
    },
    {
      type: "bar",
      data: [26, 24, 18, 22, 23, 20, 27],
    },
  ],
  backgroundColor: "#00000000",
};
</script>
<style lang="less" scoped>
.echarts {
  width: 90%;
  height: 35%;
  margin: 0.6rem auto;
}
</style>
