<template>
  <MyEcharts class="echarts" :options="data.options"></MyEcharts>
</template>

<script setup>
import { reactive, watch } from "vue";
import MyEcharts from "./my-echarts.vue";
const props = defineProps({
  tooltip: Object,
  legend: Object,
  //网格
  grid: Object,
  xAxis: Object,
  yAxis: Object,
  series: Object,
  backgroundColor: {
    type: String,
    default: "transparent",
  },
});

const data = reactive({ options: {} });

const setup_data = () => {
  const options = {
    tooltip: props.tooltip,
    legend: props.legend,
    //网格
    grid: props.grid,
    xAxis: props.xAxis,
    yAxis: props.yAxis,
    series: props.series,
    backgroundColor: props.backgroundColor,
  };
  data.options = { ...options };
};

watch(
  props,
  () => {
    setup_data();
  },
  {
    immediate: true,
  }
);
</script>
<style lang="less" scoped>
.echarts {
  width: 100%;
  height: 100%;
}
</style>
