<template>
  <div class="title_container">
    <div class="title">{{ title }}<slot></slot></div>
  </div>
</template>

<script setup>
defineProps({
  title: String,
});
</script>
<style lang="less" scoped>
.title_container {
  // display: inline-block;
  // background: url(../assets/images/title-bg.png) no-repeat;
  // background-size: 100% 100%;
  border: 26px solid #000;

  // border-image-source: url(../assets/images/title-bg.png);

  // border-image-slice: 27 27 27 27 fill;

  // border-image-width: 27px 27px 27px 27px;

  // border-image-outset: 27px 27px 27px 27px;

  border-image-source: url(../assets/images/title-bg.png);

  border-image-slice: 52 470 52 470 fill;

  border-image-width: 52px 470px 52px 470px;

  // border-image-outset: 52px 470px 52px 470px;

  // border-image-repeat: repeat;
  height: 52px;
  width: 100%;
  .title {
    margin-left: -26px;
    margin-right: -26px;
    margin-top: -15px;
    padding-left: 0.3rem;
    color: white;
    font-size: 0.4rem;
    font-weight: 700;
    font-style: italic;
  }
}
</style>
