<template>
  <BaseLineEchats
    class="echarts"
    :tooltip="data.options.tooltip"
    :legend="data.options.legend"
    :grid="data.options.grid"
    :xAxis="data.options.xAxis"
    :yAxis="data.options.yAxis"
    :series="data.options.series"
  ></BaseLineEchats>
</template>

<script setup>
import { reactive, ref, watch } from "vue";
import BaseLineEchats from "./base-line-echats.vue";
const props = defineProps({
  legend_data: {
    type: Array,
    default: () => [],
  },
  series_data: {
    type: Array,
    default: () => [],
  },
  y_axis_name: {
    type: Array,
    default: () => ["", ""],
  },
  x_axis_data: {
    type: Array,
    default: () => [],
  },
  x_axis_label_interval: (Function, Number),
  y_name_padding: {
    type: Array,
    default: () => [
      [0, 0, 0, 0],
      [0, 0, 0, 0],
    ],
  },
  y_split_config: {
    type: Array,
  },
});

const margin_top = ref(60);
if (props.y_axis_name) {
  margin_top.value = 80;
}

const default_series_style = {
  type: "line",
  smooth: true,
  symbolSize: 0,
};

const x_data = [];

const default_interval = (index) => {
  if ((index + 1) % 5 === 0) {
    return true;
  }
  return false;
};

const data = reactive({ options: {} });

const configureOption = () => {
  const legend = {
    left: 0,
    top: margin_top.value - 40,
    icon: "rect",
    selectedMode: false,
    //文字样式
    textStyle: {
      color: "white",
      fontSize: 12,
    },
    data: [...props.legend_data],
    itemWidth: 14,
    itemHeight: 14,
  };

  let series = [];
  for (let i = 0; i < props.series_data.length; i++) {
    series.push({
      ...default_series_style,
      ...props.series_data[i],
    });
  }

  const xAxis = {
    type: "category",
    //刻度标签
    axisLabel: {
      color: "white",
      rotate: 45,
      interval:
        props.x_axis_label_interval != undefined
          ? props.x_axis_label_interval
          : default_interval,
    },
    data: props.x_axis_data.length > 0 ? props.x_axis_data : x_data,
    axisTick: {
      alignWithLabel: true,

      length: 3,
    },
    axisLine: {
      show: props.x_axis_data.length > 0,
    },
  };

  const yAxis = props.y_axis_name.map((value, index) => {
    let split_config = {};
    if (
      props.y_split_config != undefined &&
      props.y_split_config.length > index
    ) {
      split_config = props.y_split_config[index];
    }
    return {
      name: value,
      nameGap: 50,
      nameTextStyle: {
        color: "white",
        padding: props.y_name_padding[index]
          ? props.y_name_padding[index]
          : [0, 0, 0, 0],
      },
      //刻度标签
      axisLabel: {
        color: "white",
      },
      //分割线
      splitLine: {
        lineStyle: {
          color: "white",
          width: 0.5,
        },
      },
      axisTick: {
        alignWithLabel: true,
        interval: 0,
        length: 3,
      },

      ...split_config,
      axisLine: {
        show: false,
      },
    };
  });

  const options = {
    tooltip: {
      trigger: "axis",
      axisPointer: {
        animation: false,
      },
    },
    legend: legend,
    //网格
    grid: {
      // show: true,
      // borderColor: "#ccc",
      // borderWidth: 2,
      containLabel: true,
      left: 0,
      right: 0,
      top: margin_top.value,
      bottom: 20,
    },
    xAxis: xAxis,
    yAxis: yAxis,
    series: series,
    backgroundColor: "transparent",
  };
  data.options = options;
};

watch(
  props,
  () => {
    configureOption();
  },
  {
    immediate: true,
  }
);
</script>
<style lang="less" scoped>
.echarts {
  width: 100%;
  height: 100%;
}
</style>
