myChart.vue
<template>
  <div ref="chartRef" class="my-chart"></div>
</template>
<script setup>
import { onBeforeUnmount, onMounted, ref, watch } from "vue";
import echarts from "./../utils/commonEcharts";
const props = defineProps(["options"]);
const chartRef = ref();
let chart = null;
const resizeHandler = () => {
  chart?.resize();
};
onMounted(() => {
  // setTimeout(() => {
  //   initChart();
  // }, 20);
  initChart();
  window.addEventListener("resize", resizeHandler);
});

const initChart = () => {
  chart = echarts.init(chartRef.value, "dark");
  chart.setOption({
    ...props.options,
  });
};

watch(
  () => {
    return props.options;
  },
  () => {
    chart.setOption(
      {
        ...props.options,
      },
      1000
    );
  }
);

onBeforeUnmount(() => {
  window.removeEventListener("resize", resizeHandler);
  chart?.dispose();
});
</script>

<style lang="less" scoped></style>
