<template>
  <div class="my-header">
    <div class="title">长银58可视化大屏系统</div>
    <div class="options">
      <div @click="emits('index_change', 0)">
        <span :class="props.select_index == 0 ? 'select' : ''">应用管理</span>
      </div>
      <div @click="emits('index_change', 1)">
        <span :class="props.select_index == 1 ? 'select' : ''">数据库管理</span>
      </div>
      <div @click="emits('index_change', 2)">
        <span :class="props.select_index == 2 ? 'select' : ''">系统管理</span>
      </div>
      <div @click="emits('index_change', 3)">
        <span :class="props.select_index == 3 ? 'select' : ''">综合监控</span>
      </div>
      <div @click="emits('index_change', 4)">
        <span :class="props.select_index == 4 ? 'select' : ''">网络与安全</span>
      </div>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  select_index: {
    default: 0,
  },
});

const emits = defineEmits(["index_change"]);
</script>
<style lang="less" scoped>
.my-header {
  .title {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
  }

  .options {
    display: flex;
    padding: 0 30px;
    font-size: 26px;
    div {
      flex: 1;
      text-align: center;
      margin: 100 auto;

      span {
        padding: 5px 10px;
      }
      span.select {
        border-bottom: solid 5px goldenrod;
        color: aqua;
      }
    }
  }
}
</style>
