<template>
  <div class="my-slide">
    <div :class="select_index === 0 ? 'select' : ''">微信</div>
    <div :class="select_index === 1 ? 'select' : ''">城一代</div>
  </div>
</template>

<script setup>
import { onMounted, onUnmounted, ref } from "vue";
const props = defineProps({
  select_index: {
    type: Number,
    default: 0,
  },
});
const emits = defineEmits(["select-changed"]);
const select_index = ref(props.select_index);
let time;
onMounted(() => {
  time = setInterval(() => {
    select_index.value = select_index.value === 0 ? 1 : 0;
    emits("select-changed", select_index.value);
  }, 1000);
});
onUnmounted(() => {
  clearInterval(time);
});
</script>
<style lang="less" scoped>
.my-slide {
  display: flex;
  font-style: normal;
  font-size: 14px;
  padding-right: 15px;
  div {
    padding: 0 5px;
    background-color: rgb(118, 155, 225);
  }
  div.select {
    padding: 0 5px;
    background-color: rgb(77, 171, 231);
  }
}
</style>
