<template>
  <MyEcharts class="echarts" :options="options"></MyEcharts>
</template>

<script setup>
import MyEcharts from "./my-echarts.vue";
const options = {
  series: [
    {
      type: "pie",
      data: [
        {
          value: 335,
          name: "直接访问",
        },
        {
          value: 234,
          name: "联盟广告",
        },
        {
          value: 1548,
          name: "搜索引擎",
        },
      ],
      label: {
        color: "#00ff00",
        // show: false,
      },
      radius: "50%",
    },
  ],
  backgroundColor: "#00000000",
};
</script>
<style lang="less" scoped>
.echarts {
  width: 100%;
  height: 35%;
  margin: 0.6rem auto;
}
</style>
