<template>
  <div class="container">
    <MyEcharts class="echarts" :options="datas.options"></MyEcharts>
  </div>
</template>

<script setup>
import { computed, reactive, watch } from "vue";
import MyEcharts from "./my-echarts.vue";
const props = defineProps(["data1", "data2"]);

watch(props, () => {
  setupData();
});

const series = computed(() => {
  return [
    {
      name: "Success",
      type: "scatter",
      data: props.data1,
      symbolSize: function (value) {
        return value[1] * 5;
      },
      itemStyle: {
        color: "#82D5B0",
        borderColor: "green",
      },
    },
    {
      name: "False",
      type: "scatter",
      data: props.data2,
      symbolSize: function (value) {
        return value[1] * 5;
      },
      itemStyle: {
        color: "#D6635B",
        borderColor: "red",
      },
    },
  ];
});

const datas = reactive({
  options: {},
});

const setupData = () => {
  let options = {
    //图例
    legend: {
      data: [
        {
          name: "Success",
          icon: "roundRect ",
          //文字样式
          textStyle: {
            color: "white",
            fontSize: 12,
          },
          itemStyle: {
            borderColor: "green",
            borderWidth: 1,
          },
        },
        {
          name: "False",
          icon: "rect",
          //文字样式
          textStyle: {
            color: "white",
            fontSize: 12,
          },
          itemStyle: {
            borderColor: "red",
            borderWidth: 1,
          },
        },
      ],
      formatter: function (name) {
        if (name === "Success") {
          return name + "   1001";
        }
        return name + "   11";
      },
      left: 0,
      top: 40,
      itemWidth: 14,
      itemHeight: 14,
    },

    //网格
    grid: {
      // show: true,
      // borderColor: "#ccc",
      // borderWidth: 2,
      containLabel: true,
      left: 0,
      right: 50,
      top: 80,
      bottom: 20,
    },
    // xAxis: {
    //   data: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
    // },
    xAxis: {
      //分割线
      splitLine: {
        lineStyle: {
          color: "transparent",
          width: 0.5,
        },
      },
    },
    yAxis: [
      {
        name: "单位：ms",
        nameGap: 50,
        nameTextStyle: {
          color: "white",
          padding: [0, 0, 0, 13],
        },
        //分割线
        splitLine: {
          lineStyle: {
            color: "white",
            width: 0.5,
          },
        },
      },
      {
        name: "单位：ms",
        // nameGap: 50,
        nameTextStyle: {
          color: "white",
          padding: [0, 0, 0, 13],
        },
        //分割线
        splitLine: {
          lineStyle: {
            color: "white",
            width: 0.5,
          },
        },
      },
    ],
    series: series,
    backgroundColor: "#00000000",
  };

  datas.options = options;
};
</script>
<style lang="less" scoped>
.container {
  width: 100%;
  height: 40%;

  .echarts {
    width: 100%;
    height: 100%;
  }
}
</style>
