<template>
  <div class="screen-adapter" :style="style">
    <slot></slot>
  </div>
</template>

<script setup>
import { onMounted, onUnmounted, reactive } from "vue";

const width = 1920;
const height = 1080;
const style = reactive({
  width: `${width}px`,
  height: `${height}px`,
  transform: "scale(1) translate(-50%, -50%)", // 默认不缩放，垂直水平居中
});

// 获取缩放比例
const getScale = () => {
  const w = window.innerWidth / width;
  const h = window.innerHeight / height;
  return w < h ? w : h;
};
// 设置缩放比例
const setScale = () => {
  const scale = getScale();
  style.transform = `scale(${scale}) translate(-50%, -50%)`;
};

setScale();
// 防抖
const debounce = (fn, t) => {
  const delay = t || 500;
  let timer;
  return function () {
    if (timer) {
      clearTimeout(timer);
    }
    timer = setTimeout(() => {
      timer = null;
      fn();
    }, delay);
  };
};

const onresize = debounce(() => setScale(), 100);

onMounted(() => {
  window.addEventListener("resize", onresize);
});

onUnmounted(() => {
  window.removeEventListener("resize", onresize);
});
</script>
<style lang="less" scoped>
.screen-adapter {
  position: absolute;
  transform: scale(1) translate(-50%, -50%);
  transform-origin: 0 0;
  left: 50%;
  top: 50%;
  transition: 0.3s;
  z-index: 999;
}
</style>
