<template>
  <div class="title-card">
    <div class="img"></div>
    <div>
      <span>{{ title }}</span>
      <span>{{ sub_title }}</span>
    </div>
  </div>
</template>

<script setup>
defineProps({
  title: String,
  sub_title: String,
});
</script>
<style lang="less" scoped>
.title-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  width: 236px;
  height: 75px;
  background: url("../assets/images/title-card-bg.png") no-repeat;
  background-size: 100%;

  .img {
    width: 50px;
    height: 50px;
    background: aqua;
    border-radius: 25px;
  }

  div {
    display: flex;
    flex-direction: column;
    padding-left: 20px;

    span:first-child {
      font-size: 16px;
      font-weight: 700;
    }
    span:last-child {
      font-size: 18px;
    }
  }
}
</style>
