@import './base.css';

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none !important;
  /* color: @text-color; */
}

a:hover {
  /* color: @text-color; */
}

.left {
  float: left;
}

.right {
  float: right;
}


.clearfix {
  display: block;
  clear: both;
  content: "";
}

.ellipsis {
  -o-text-overflow: ellipsis;
  word-break: normal;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.noselect {
  user-select: none;
}

#app {
  height: 100%;
}

