<template>
  <ScreenAdapter>
    <MyHome v-if="index === 0" @header_change="index_change"></MyHome>
    <MyDatabase
      v-else-if="index !== 0"
      @header_change="index_change"
    ></MyDatabase>
  </ScreenAdapter>
</template>

<script setup>
import { ref } from "vue";
import ScreenAdapter from "./components/screen-adapter.vue";
import MyDatabase from "./views/MyDatabase/my-database.vue";
import MyHome from "./views/MyHome/my-home.vue";
const index = ref(0);
const index_change = (value) => {
  console.log(value);
  index.value = value;
};
</script>
<style lang="less" scoped></style>
