<template>
  <TableDatabase
    :header="header"
    :content="content"
    :widths="widths"
  ></TableDatabase>
</template>

<script setup>
import TableDatabase from "./table-database.vue";
const header = [
  "序号",
  "表名",
  "库名",
  "数据空间大小",
  "索引空间大小",
  "碎片名",
  "行数",
  "表字符集",
];
const content = [
  {
    id: 1,
    time: "TB1",
    name: "a",
    level: "200",
    content: "20",
    percent: "20%",
    row_count: 54,
    cc: "UTF-8",
  },
  {
    id: 2,
    time: "TB1",
    name: "a",
    level: "200",
    content: "20",
    percent: "20%",
    row_count: 54,
    cc: "UTF-8",
  },
  {
    id: 3,
    time: "TB1",
    name: "a",
    level: "200",
    content: "20",
    percent: "20%",
    row_count: 54,
    cc: "UTF-8",
  },
  {
    id: 4,
    time: "TB1",
    name: "a",
    level: "200",
    content: "20",
    percent: "20%",
    row_count: 54,
    cc: "UTF-8",
  },
  {
    id: 5,
    time: "TB1",
    name: "a",
    level: "200",
    content: "20",
    percent: "20%",
    row_count: 54,
    cc: "UTF-8",
  },
  {
    id: 6,
    time: "TB1",
    name: "a",
    level: "200",
    content: "20",
    percent: "20%",
    row_count: 54,
    cc: "UTF-8",
  },
];

const widths = [1, 1, 1, "200px", 2, 1, 1, 1, 1];
</script>
<style lang="less" scoped></style>
