<template>
  <commonLineEcharts
    :legend_data="legend_data"
    :series_data="series_data"
    :y_axis_name="y_axis_name"
    :x_axis_data="x_axis_data"
    :x_axis_label_interval="0"
    :y_name_padding="[1, 1, 1, 15]"
  ></commonLineEcharts>
</template>

<script setup>
import { reactive } from "vue";
import commonLineEcharts from "../../components/common-line-echarts.vue";

const legend_data = reactive(["从库1", "从库2", "从库3"]);
const x_axis_data = [
  "5-11 12:20",
  "5-11 12:25",
  "5-11 12:30",
  "5-11 12:35",
  "5-11 12:40",
  "5-11 12:45",
  "5-11 12:50",
  "5-11 12:55",
];
let series_data = reactive([
  {
    name: "从库1",
    //转折点样式
    itemStyle: {
      color: "rgb(28,78,191)",
    },
    data: ["30", "35", "55", "75", "19", "31", "45", "65"],
  },
  {
    name: "从库2",
    //转折点样式
    itemStyle: {
      color: "rgb(228,155,55)",
    },
    data: ["55", "75", "19", "31", "45", "65", "30", "35"],
  },
  {
    name: "从库3",
    //转折点样式
    itemStyle: {
      color: "rgb(245,235,97)",
    },
    data: ["31", "45", "30", "35", "55", "75", "19", "65"],
  },
]);

const y_axis_name = reactive(["单位：ms"]);
// setInterval(() => {
//   for (let i = 0; i < series_data.length; i++) {
//     let data = series_data[i].data;
//     data.push(data[0]);
//     data.shift();
//     series_data[i].data = data;
//   }
// }, 3000);
</script>
<style lang="less" scoped></style>
