<template>
  <TableDatabase
    :header="header"
    :content="content"
    :widths="widths"
  ></TableDatabase>
</template>

<script setup>
import TableDatabase from "./table-database.vue";
const header = [
  "序号",
  "线程号",
  "事务开始时间",
  "事务持续时间（s）",
  "用户",
  "主机",
  "数据库",
  "执行SQL",
];
const content = [
  {
    id: 1,
    thread: "111",
    date: "2021/5/4",
    time: "100",
    user: "A",
    host: "30.09",
    database: 50,
    sql: "小红",
  },
  {
    id: 2,
    thread: "111",
    Date: "2021/5/4",
    time: "100",
    user: "A",
    host: "30.09",
    database: 50,
    sql: "小红",
  },
  {
    id: 3,
    thread: "111",
    Date: "2021/5/4",
    time: "100",
    user: "A",
    host: "30.09",
    database: 50,
    sql: "小红",
  },
  {
    id: 4,
    thread: "111",
    Date: "2021/5/4",
    time: "100",
    user: "A",
    host: "30.09",
    database: 50,
    sql: "小红",
  },
  {
    id: 5,
    thread: "111",
    Date: "2021/5/4",
    time: "100",
    user: "A",
    host: "30.09",
    database: 50,
    sql: "小红",
  },
  {
    id: 6,
    thread: "111",
    Date: "2021/5/4",
    time: "100",
    user: "A",
    host: "30.09",
    database: 50,
    sql: "小红",
  },
];

const widths = [1, 1, 2, 2, 1, 1, 1, 1];
</script>
<style lang="less" scoped></style>
