<template>
  <div class="database">
    <header>
      <MyHeader :select_index="1" @index_change="header_change"></MyHeader>
    </header>
    <div class="body">
      <div class="left">
        <CommonTitle>主从延迟信息</CommonTitle>
        <div class="card">
          <TitleCard
            v-for="item in delay_card_titles"
            :title="item.title"
            :sub_title="item.sub_title"
            :key="item.title"
          ></TitleCard>
        </div>
        <DelayInfo class="delay-info"></DelayInfo>
        <WarnTable class="warn-table"></WarnTable>
      </div>
      <div class="right">
        <div class="right-top">
          <CommonTitle>数据库表信息</CommonTitle>
          <div class="card">
            <TitleCard
              v-for="item in database_card_titles"
              :title="item.title"
              :sub_title="item.sub_title"
              :key="item.title"
            ></TitleCard>
          </div>
          <DatabaseTable></DatabaseTable>
        </div>
        <div class="right-bottom">
          <CommonTitle>大事务信息</CommonTitle>
          <div class="card">
            <TitleCard
              v-for="item in event_card_titles"
              :title="item.title"
              :sub_title="item.sub_title"
              :key="item.title"
            ></TitleCard>
          </div>
          <EvnetTable></EvnetTable>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import CommonTitle from "../../components/common-title.vue";
import MyHeader from "../../components/my-header.vue";
import TitleCard from "../../components/title-card.vue";
import WarnTable from "../MyDatabase/varn-table.vue";
import DatabaseTable from "./database-table.vue";
import DelayInfo from "./delay-info.vue";
import EvnetTable from "./evnet-table.vue";

const emits = defineEmits(["header_change"]);
const header_change = (value) => {
  emits("header_change", value);
};
const delay_card_titles = [
  {
    title: "业务从库数量",
    sub_title: "100个",
  },
  {
    title: "最长延迟时间",
    sub_title: "100ms",
  },
  {
    title: "告警数",
    sub_title: "6个",
  },
];

const database_card_titles = [
  {
    title: "表数量",
    sub_title: "100个",
  },
  {
    title: "表空间大小",
    sub_title: "1021MB",
  },
  {
    title: "告警数",
    sub_title: "6个",
  },
];

const event_card_titles = [
  {
    title: "大事务数量",
    sub_title: "100个",
  },
  {
    title: "最长持续时间",
    sub_title: "100ms",
  },
  {
    title: "告警数",
    sub_title: "6个",
  },
];
</script>
<style lang="less" scoped>
.database {
  width: 100%;
  height: 100%;

  header {
    height: 130px;
  }
  .body {
    display: flex;
    background-color: grey;
    height: calc(100% - 150px);
    padding: 0 20px;

    .card {
      display: flex;
      justify-content: space-between;
      padding: 0 50px;
      margin-bottom: 20px;
    }
    .left {
      flex: 1;
      background-color: rgba(59, 61, 214, 0.845);
      margin-right: 15px;

      .delay-info {
        padding: 0 40px;
        height: 40%;
      }

      .warn-table {
        margin-top: 30px;
        height: 40%;
        padding: 0 10px;
      }
    }

    .right {
      flex: 1;
      margin-left: 15px;

      .right-top {
        height: 47%;
        background-color: rgba(59, 61, 214, 0.845);
      }

      .right-bottom {
        margin-top: 5%;
        height: 47%;
        background-color: rgba(59, 61, 214, 0.845);
      }
    }
  }
}
</style>
