<template>
  <div class="my-table">
    <table>
      <tr>
        <th
          v-for="(item, index) in header"
          :key="item"
          :style="setup_style(index)"
        >
          {{ item }}
        </th>
      </tr>
      <tr v-for="(item, index) in content" :key="index">
        <td
          v-for="(value, key) in item"
          :key="key"
          v-text="value"
          :style="setup_style(Object.keys(item).indexOf(key))"
        ></td>
      </tr>
    </table>
  </div>
</template>

<script setup>
const props = defineProps({
  header: Array,
  content: Array,
  widths: Array,
});

//设置样式
const setup_style = (index) => {
  if (
    props.widths &&
    Array.isArray(props.widths) &&
    props.widths.length > index
  ) {
    if (typeof props.widths[index] === "number") {
      return { flex: props.widths[index] };
    } else if (typeof props.widths[index] === "string") {
      return { width: props.widths[index] };
    }
  }
  return { flex: 1 };
};
</script>
<style lang="less" scoped>
.my-table {
  // height: calc(100% - 40% - 52px - 52px);
  overflow-y: auto;
}
table {
  width: 100%;
  height: 100%;

  tr {
    display: flex;
    width: 100%;

    th {
      color: white;
      background-color: blue;
      height: 50px;
      line-height: 50px;
      font-size: 20px;
      font-weight: 700;

      border-left: 1px solid yellowgreen;
      border-top: 1px solid yellowgreen;
    }

    & th:last-child {
      border-right: 1px solid yellowgreen;
    }

    & td:last-child {
      border-right: 1px solid yellowgreen;
    }
    td {
      text-align: center;
      font-size: 16px;
      height: 40px;
      line-height: 40px;

      border-left: 1px solid yellowgreen;
      border-top: 1px solid yellowgreen;
    }
  }

  & tr:last-child {
    border-bottom: 1px solid yellowgreen;
  }
}
</style>
