<template>
  <TableDatabase :header="header" :content="content"></TableDatabase>
</template>

<script setup>
import TableDatabase from "./table-database.vue";
const header = ["序号", "时间", "从实例名称", "高级级别", "告警内容"];
const content = [
  {
    id: 1,
    time: "5/11 12.20",
    name: "aaa",
    level: "A",
    content: "XXXXXX",
  },
  {
    id: 2,
    time: "5/11 12.25",
    name: "aaa",
    level: "A",
    content: "XXXXXX",
  },
  {
    id: 3,
    time: "5/11 12.30",
    name: "aaa",
    level: "B",
    content: "XXXXXX",
  },
  {
    id: 4,
    time: "5/11 12.35",
    name: "aaa",
    level: "B",
    content: "XXXXXX",
  },
  {
    id: 5,
    time: "5/11 12.40",
    name: "aaa",
    level: "C",
    content: "XXXXXX",
  },
  {
    id: 6,
    time: "5/11 12.45",
    name: "aaa",
    level: "C",
    content: "XXXXXX",
  },
];
</script>
<style lang="less" scoped></style>
